body{
 background-color: lightgrey;
  margin-top:40px;
}
*{
  color:grey;
}
ul1{
  color: black;
  width: 30%;
}
h1{
  color : grey;
  text-align:center;
}
img{
 display: block;
  margin: auto;
  margin-top : 15px;}

#quoteDisplay{text-align:center;
  font-style:italic;
  font-size:20px;
  color :grey;
}
button{
  color: :lightgrey;
}
p{text-align:center;
  font-size:20px;
  color :grey;
}
ul {
  width: 40%;
  color : grey;
    margin: auto;
}
li1 {
  width: 50%;
  color : grey;
    margin: auto;
}
.c{
  text-align: center;
}
.test{
  width: 100%;
  margin:auto;
}
li{
  padding-left: 2px;
  font-size:14px;
}
.buttons {
  width:100px;
  height: 30px;
  margin:auto;
  background: lightgrey;
  border-color: grey;
  display:block;}