body{
 background-color: lightgrey;
  margin-top:40px;
}
*{
  color:grey;
}
h1{text-align:center;
}
img{ display: block;
  margin: auto;
  text-align: center;
  margin-top : 15px;}

.small{ font-size:18px;
  text-align:center;
}
#quoteDisplay{text-align:center;
  font-style:italic;
  font-size:20px;
  color :grey;
}
button{
  color: :lightgrey;
}
p{
  font-size:20px;
}
.text{
  margin-top :5px;
  margin-bottom: 5px;
  font-size: 14px;
}
ul {
  width: 60%;
  margin: auto;
}
li{
  margin-bottom: 15px;
  margin-top: 10px;
}
.c{
  text-align: center;
}
.test{
  width: 100%;
}
li{
  padding-left: 2px;
  font-size:16px;
}
.buttons {
  width:100px;
  height: 30px;
  margin:auto;
  background: lightgrey;
  border-color: grey;
  display:block;}